@import-normalize;
@import './recipe-list.css';
@import './btn.css';
@import './recipe.css';
@import './ingredient-list.css';
@import './recipe-edit.css';

*,*::before,*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html {
    font-size: 110%;
}

body {
    background-color: #f2f2f2;
}

.mr-1 {
    margin-right: 5px;
}