.recipe {
    padding: 20px;
    padding-bottom: 40px;
}

.recipe:not(:last-child) {
    border-bottom: 1px solid rgb(138, 131, 131);
}

.recipe:last-child {
    padding-bottom: 10px;
}

.recipe__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

.recipe__title {
    font-size: 1.75rem;
}

.recipe__row {
    margin-top: 10px;
}

.recipe__label {
    margin-right: 5px;
}

.recipe__value {
    font-weight: 300;
}

.recipe__value--indented {
    margin-top: 10px;
    margin-left: 20px;
}

.recipe__instructions {
   white-space: pre-wrap;
}